.about-container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.about-section {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

/* image */
.about-section img {
  max-width: 30%;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0 0 0 3rem;
  object-fit: cover;
  border-radius: 50%; /* circular image*/
}

/* text */
.description {
  max-width: 35rem;
}

/*-------------------
/* Mobile */
@media (max-width: 48rem) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-section img {
    margin-left: 0;
  }
}