.contact-container {
  width: 100%;
  min-height: 100vh;
}

/* layout */
.contact-content {
  display: flex;
  gap: 3rem;
  margin: 0 11rem;
}

/* left side */
.contact-text {
  margin-top: 4.5rem;
}

/* right side*/
.contact-form-wrapper {
  padding: 1.5rem 0;
  flex: 2;
}

/* make form elements bigger */
.contact-form-wrapper input,
.contact-form-wrapper textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

/* bigger textarea */
.contact-form-wrapper textarea {
  min-height: 10rem;
}

/*-------------------
/* Mobile */
@media (max-width: 48rem) {

  .contact-content {
    flex-direction: column;
    margin: 0;
  }

  .contact-text {
    margin-top: 0;
    text-align: center;
  }

  .contact-form-wrapper {
    width: 100%;
  }
}