.section {
  display: flex;
  align-items: center;
  padding: 3rem 15%;
}

/* images */
.section img {
  width: 40%;
  aspect-ratio: 6 / 7;
  object-fit: cover;
}

/* text */
.text {
  padding: 0rem 1rem;
  font-size: 1.2rem;
}

.section:last-child {
    background-color: white;
}

/*-------------------
/* Mobile */
@media (max-width: 48rem) {

  .section {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;
  }

  .section img {
    width: 100%;
    max-width: 18rem;
  }

  .text {
    padding: 1rem 0;
  }
}